@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body { 
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
	margin:auto;
  max-width:30em;
  color:white;
  line-height:1.4em;
  font-size:.8em;
}

a {
  text-decoration: underline;
  color:rgb(88, 183, 220);
}


